secrets:
#  secret_key:
#    file: ./secrets/secret_key
  aws_credentials:
    file: ./secrets/aws_credentials.json

volumes:
  dbdata:
  uploaderdata:

services:
  nginx:
    image: nginx:alpine
    ports:
      - "127.0.0.1:5000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - uploaderdata:/upload:ro
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build:
      context: ./uploader
    secrets:
      - aws_credentials
    environment:
      PYTHONUNBUFFERED: 1
      FLASK_APP: uploader:create_app()
      FLASK_SECRET_KEY: Very secret string
      FLASK_UPLOADER_ROOT_DIR: /upload
      FLASK_MONGO_URI: mongodb://user:demo@mongo/uploader?authSource=admin
      FLASK_AWS_REGION_NAME: ru-central1
      FLASK_AWS_ENDPOINT_URL: https://storage.yandexcloud.net
      SECRET_AWS_ACCESS_KEY_ID: '/run/secrets/aws_credentials|aws_access_key'
      SECRET_AWS_SECRET_ACCESS_KEY: '/run/secrets/aws_credentials|aws_secret_access_key'
    volumes:
      - uploaderdata:/upload
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: demo
      MONGO_INITDB_DATABASE: auth
    volumes:
      - dbdata:/data/db
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    ports:
      - "127.0.0.1:8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: user
      ME_CONFIG_MONGODB_ADMINPASSWORD: demo
    depends_on:
      - mongo
    restart: unless-stopped
