version: "3.7"

secrets:
#  secret_key:
#    file: ./secrets/secret_key
  aws_credentials:
    file: ./secrets/aws_credentials.json

volumes:
  dbdata:

services:
  nginx:
    image: nginx:alpine
    ports:
      - 5000:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build:
      context: ./uploader
    secrets:
      - aws_credentials
    environment:
      FLASK_APP: "uploader:create_app()"
      PYTHONUNBUFFERED: 1
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: demo
      MONGO_INITDB_DATABASE: auth
    volumes:
      - dbdata:/data/db
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: user
      ME_CONFIG_MONGODB_ADMINPASSWORD: demo
    depends_on:
      - mongo
    restart: unless-stopped
