{% extends 'base.html' %}
{% import 'macros.html' as macro with context %}

{% block main %}
  <div class="row">
    <div class="col">
      <h1 class="my-4">GridFSStorage Example</h1>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <form method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ macro.render_form_field(form.title) }}
        </div>
        <div class="mb-3">
          {{ macro.render_form_field(form.cover) }}
        </div>
        <div class="mb-3">
          {{ macro.render_form_field(form.file) }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  {% if books %}
    <div class="row mb-4">
      <div class="col">
        <h2 class="mb-3">Uploaded files</h2>
        {% for book in books %}
          {% set url = media_url('books', book.file) %}
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-2">
                <img class="img-fluid rounded-start" src="{{ book.cover_url }}" alt="{{ book.title }}">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title mb-4">{{ book.title }}</h5>
                  <p class="card-text">
                    <b>Book ID</b>: {{ book.get_id() }}
                  </p>
                  <p class="card-text">
                    <b>URL</b>: <a href="{{ url }}">{{ url }}</a>
                  </p>
                  <p class="card-text">
                    <b>Filename</b>: {{ book.file }}
                  </p>
                  <form action="{{ url_for('.remove', id=book.get_id()) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <a class="btn btn-success" href="{{ url }}">Download</a>
                    <a class="btn btn-primary" href="{{ url_for('.edit', id=book.get_id()) }}">Edit</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock main %}