{% extends 'base.html' %}
{% import 'macros.html' as macro with context %}

{% block main %}
  <div class="row">
    <div class="col">
      <h1 class="my-4"></h1>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
          <input class="form-control" type="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      {{ macro.render_files_grid(files, 'invoices') }}
    </div>
  </div>
{% endblock main %}