{% macro render_files_grid(files, uploader_name) %}
  <h2 class="mb-3">Uploaded files</h2>
  <div class="table-responsive">
    <table class="table table-striped align-middle">
      <tr>
        <th>URL</th>
        <th>Filename</th>
        <th>Mime-Type</th>
        <th>Actions</th>
      </tr>
      {% for f in files %}
        <tr>
          <td>
            {% set url = media_url(uploader_name, f.lookup) %}
            <a href="{{ url }}">{{ url }}</a>
          </td>
          <td>{{ f.filename }}</td>
          <td>{{ f.mimetype }}</td>
          <td>
            <form action="{{ url_for('.remove', lookup=f.lookup) }}" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endmacro %}


{% macro render_form_field(field) %}
  {{ field.label(class='form-label') }}
  <div class="input-group">
    {{ field(class='form-control is-invalid' if field.errors else 'form-control') }}
    <div class="invalid-feedback">
      {{ field.errors | join(',') }}
    </div>
  </div>
{% endmacro %}